body {
  font-family: 'Segoe UI', sans-serif;
}

/* LOGIN */
.login-bg {
  background: linear-gradient(135deg, #1d2671, #c33764);
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background: #fff;
  padding: 30px;
  width: 360px;
  border-radius: 10px;
}

/* DASHBOARD */
.sidebar {
  width: 230px;
  height: 100vh;
  background: #1f2937;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;      /* IMPORTANT */
  left: 0;
  top: 0;
  z-index: 1000;        /* IMPORTANT */
}

.content {
  margin-left: 230px;   /* IMPORTANT */
  padding: 30px;
  background: #f4f6f9;
  min-height: 100vh;
}


.role-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.role-card.admin { border-left: 5px solid #0d6efd; }
.role-card.professor { border-left: 5px solid #198754; }
.role-card.student { border-left: 5px solid #ffc107; }
